 
 .nav {
    overflow: hidden;
    background-color: #f17934c4;
    width: 1200px;
   
  }
  
  .nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #04AA6D;
    color: white;
  } 

div{
    margin-left: 5px;
}

div.image{
    float:left;
    margin: 10px;
    border: 1px solid black;
    width: 280px;
    text-align: center;
    border-width: 2px;
    height:400px;
 
}
div.description{
    padding: 5px;
    text-align: center;
}

